/* General Reset */
body {
    font-family: Arial, sans-serif;
    background-color: lightgray;
    color: #333;
    margin: 0;
    padding: 0;
}

h2 {
    text-align: center;
}

td:nth-child(7) .delete-button,
td:nth-child(7) .add-photo-button {
    width: 100%;
 
    border: none;
    border-radius: 5px;
    background-color: darkred;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

        /* Add styles to make divs scrollable */
        .scrollable-div {
            max-height: 1000px; /* Set a max-height for scrollable area */
            overflow-y: auto; /* Enable vertical scrolling */
            overflow-x: auto;
        }

        /* CSS for Dropbox Dropdown or other elements */
.dropbox-container {
    position: relative; /* Ensures it's positioned relative to its parent */
    z-index: 1000; /* Ensures it is above other elements when dropdown is open */
}

.dropbox-dropdown {
    position: absolute; /* Absolute within the relative container */
    top: 100%; /* Position dropdown just below the element */
    left: 0;
    background-color: white; /* Adjust based on your UI */
    border: 1px solid #ccc;
    z-index: 2000; /* Higher index to ensure it shows above other content */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

   

/* Header Styles */
.header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
    cursor: pointer;
    position: relative;
}

.logo {
    height: 80px;
    margin-right: 10px;
    transition: opacity 1s ease-in-out;
}

/* Main Content Styles */
#main-content, #secoundary-content {
    display: none;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}

/* Table Styles */
table {
    width: 95%;
    margin: 10px auto;
    border-collapse: collapse;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border: 2px solid #8B0000;
}

th, td {
    border: 3px solid #131010;
    padding: 8px;
    text-align: center;
    white-space: normal;
    overflow-wrap: break-word;
    word-break: keep-all;
    max-width: 200px;
}

th {
    background-color: #002244;
    color: white;
    font-weight: bold;
    font-size: 19px;
    position: sticky;
    top: 0;
    z-index: 1;
    height: 3.5em;
}

/* Alternate row colors */
tbody tr:nth-child(odd) {
    background-color: #f2f2f2;
}

tbody tr:nth-child(even) {
    background-color: #e6e6e6;
}



/* Editable Cell Styles */
td[contenteditable="true"] {
    background-color: grey;
    color: white;
    cursor: text;
}

td.edited {
    background-color: rgb(85, 82, 82) !important;
}

/* Button Styles */
button {
    display: block;
    width: 180px;
    margin: 10px auto;
    padding: 8px;
    background-color: #003366;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #002244;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transform: translateY(-4px);
}

/* Draggable Submit Button */
#dynamic-submit-button {
    width: 150px;
    height: 50px;
    background-color: #4caf50;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 8px;
    padding: 10px;
    cursor: move;
    transition: background-color 0.3s ease;
    z-index: 1000;
    position: fixed;
}

#dynamic-submit-button:hover {
    background-color: #388e3c;
}

/* Image Styles */
.image-carousel {
    position: relative;
}

.image-carousel img {
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.image-moving {
    position: absolute;
    transition: all 0.8s ease-in-out;
    opacity: 0;
}

.image-deleted {
    animation: shrink 0.5s forwards;
}

@keyframes shrink {
    from {
        transform: scale(1);
        opacity: 1;
    }
    to {
        transform: scale(0);
        opacity: 0;
    }
}

/* Image Viewer Modal */
.image-viewer-modal {
    display: flex;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.9);
    justify-content: center;
    align-items: center;
    transition: opacity 0.3s ease;
}

.image-viewer-modal.show {
    opacity: 1;
}

.modal-image {
    max-width: 90vw; /* 90% of the viewport width */
    max-height: 90vh; /* 90% of the viewport height */
    width: auto; /* Ensure the image width is automatically adjusted */
    height: auto; /* Ensure the image height is automatically adjusted */
    object-fit: contain; /* Ensure the image maintains aspect ratio and fits within bounds */
    margin: auto;
    display: block;
    border-radius: 5px; /* Optional: add rounded corners */
}


.close-modal-button {
    position: absolute;
    top: 20px;
    right: 40px;
    color: white;
    font-size: 30px;
    font-weight: bold;
    cursor: pointer;
}

/* Carousel Navigation Buttons */
.carousel-nav-button {
    background-color: transparent;
    width: 25%; /* Set the width to 25% of the parent container */

    border: none;
    color: white;
    font-size: 13px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    z-index: 2;
    opacity: 0.7;
    transition: opacity 0.3s;
}

.carousel-nav-button:hover {
    opacity: .9;
}

.carousel-nav-button.prev {
    left: 35%;
    width: 15%;
}

.carousel-nav-button.next {
    right: 35%;
    width: 15%;

}

/* Custom Checkbox */
.custom-checkbox {
    width: 25px;
    height: 25px;
    cursor: pointer;
    appearance: none;
    background-color: #e0e0e0;
    border-radius: 5px;
    border: 2px solid #9e9e9e;
    transition: background-color 0.3s ease, border-color 0.3s ease, transform 0.3s ease;
}

.custom-checkbox:checked {
    background-color: rgb(103, 223, 103);
    border-color: green;
    transform: scale(1.1);
}

.custom-checkbox:checked::after {
    content: '';
    position: absolute;
    left: 7px;
    width: 6px;
    height: 14px;
    border: solid green;
    border-width: 0 3px 3px 0;
    transform: rotate(45deg);
}

/* Styled Select */
.styled-select {
    border-radius: 12px;
    padding: 5px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
    transition: background-color 0.2s ease;
    max-width: 90%;
    position: relative;

}

.styled-select:focus {
    background-color: #e0e0e0;
}

.styled-select option[value='Billable'] {
    background-color: #ffeb3b;
    color: #000;
}

.styled-select option[value='Non Billable'] {
    background-color: #03a9f4;
    color: #fff;
}

/* Search Input */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#search-input {
    padding: 8px;
    width: 80%;
    max-width: 500px;
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #8B0000;
}

/* Toast Notification */
#toast {
    visibility: hidden;
    min-width: 15%;
    max-height: 5%;
    background-color: navy;
    color: #fff;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 15px;
    opacity: 0;
    transition: opacity 0.5s;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 0.5s ease;
}

.modal.show {
    opacity: 1;
}

.modal-content {
    background-color: white;
    padding: 20px;
    border: 1px solid #888;
    width: 650px;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
    text-align: center;
    border-radius: 10px;
    transform: scale(0.9);
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.modal-content:hover {
    background-color: whitesmoke;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
    transition: color 0.3s ease, background-color 0.3s ease;
}

.close:hover, .close:focus {
    color: black;
    background-color: #ddd;
    transform: rotate(90deg);
}

@media (max-width: 768px) {
    .logo {
        height: 60px; /* Smaller logo size for mobile */
    }

    h1 {
        font-size: 20px;
    }
}

  /* Add styles to make divs scrollable */
  .scrollable-div {
    max-height: 1000px; /* Set a max-height for scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto;
}

.styled-select select {
    width: 100%;
    font-size: 14px;
    position: relative;
    z-index: 1000; /* Ensure dropdown is above other elements */
}

/* Centering the Toast Notification */
#toast {
    visibility: hidden;
    min-width: 60%; /* Adjust the width to 60% */
    background-color: navy;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 12px;
    position: fixed;
    z-index: 1;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px; /* Adjust font size for mobile */
    opacity: 0;
    transition: opacity 0.5s ease, visibility 0.5s ease;
}

/* Search Container Styles */
.search-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto; /* Center and add margin */
}

#search-input {
    padding: 10px;
    width: 80%;
    max-width: 500px; /* Limit the width on larger screens */
    border-radius: 4px;
    font-size: 16px;
    border: 2px solid #8B0000;
}

/* Responsive Styles for Mobile */
@media (max-width: 768px) {

    
    table {
        width: 95%;
    }

    th, td {
        padding: 8px;
        font-size: 14px;
    }

    

    /* Adjust image carousel in table index 7 */
    td:nth-child(7) .image-carousel {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        max-width: 100%;
        margin: 0 auto;
    }

    td:nth-child(7) .image-carousel img {
        max-width: 100px;
        max-height: 100px;
        object-fit: cover;
        margin: 5px;
        border-radius: 5px;
    }

    /* Carousel navigation buttons */
    td:nth-child(7) .carousel-nav-button {
        font-size: 20px;
        width: 30px;
        height: 40px;
        display: inline-block;
        line-height: 30px;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        text-align: center;
        border-radius: 50%;
        margin: 5px;
        cursor: pointer;
    }

    /* Buttons */
    td:nth-child(7) .delete-button,
    td:nth-child(7) .add-photo-button {
        width: 100%;
        padding: 10px;
     
        font-size: 14px;
        margin-top: 10px;
        border: none;
        border-radius: 5px;
        background-color: #4caf50;
        color: white;
        cursor: pointer;
        transition: background-color 0.3s ease;
    }

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }

      /* Add styles to make divs scrollable */
      .scrollable-div {
        max-height: 1000px; /* Set a max-height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto;
    }

    td:nth-child(7) .delete-button:hover,
    td:nth-child(7) .add-photo-button:hover {
        background-color: #388e3c;
    }
}


@media (max-width: 576px) {
    .logo {
        height: 50px; /* Smaller logo for extra small screens */
    }

      /* Add styles to make divs scrollable */
      .scrollable-div {
        max-height: 1000px; /* Set a max-height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto;
    }

    #search-input {
        width: 95%;
        padding: 6px;
    }

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }
    
    h1 {
        font-size: 16px;
    }
}

@media (max-width: 576px) {
    th, td {
        padding: 6px;
        font-size: 12px;
    }

  /* Add styles to make divs scrollable */
  .scrollable-div {
    max-height: 1000px; /* Set a max-height for scrollable area */
    overflow-y: auto; /* Enable vertical scrolling */
    overflow-x: auto;
}

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }

    /* Further reduce image sizes in index 7 for small devices */
    td:nth-child(7) .image-carousel img {
        max-width: 80px;
        max-height: 80px;
    }

    td:nth-child(7) .carousel-nav-button {
        font-size: 18px;
        width: 25px;
        height: 25px;
        line-height: 25px;
    }

    td:nth-child(7) .delete-button,
    td:nth-child(7) .add-photo-button {
        font-size: 12px;
    }
}

/* Ensure that images and buttons don't overflow */
td:nth-child(7) {
    overflow: hidden;
    word-wrap: break-word;
}

@media (max-width: 400px) {
    .logo {
        height: 40px;
    }

    h1 {
        font-size: 16px;
    }

      /* Add styles to make divs scrollable */
      .scrollable-div {
        max-height: 1000px; /* Set a max-height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto;
    }

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }

    #search-input {
        width: 100%;
        padding: 6px;
        font-size: 14px;
    }

    table, th, td {
        font-size: 10px;
        padding: 4px;
    }

    button {
        width: 120px;
        font-size: 10px;
    }
}

/* Landscape Orientation for Small Devices */
@media (max-width: 576px) and (orientation: landscape) {
    .logo {
        height: 50px;
    }

    h1 {
        font-size: 18px;
    }

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }

      /* Add styles to make divs scrollable */
      .scrollable-div {
        max-height: 1000px; /* Set a max-height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto;
    }

    #search-input {
        width: 100%;
        padding: 6px;
    }

    table, th, td {
        width: 95%;
        font-size: 12px;
        padding: 6px;
    }

    button {
        width: 140px;
        font-size: 12px;
    }
}

@media (max-width: 400px) and (orientation: landscape) {
    .logo {
        height: 35px;
    }

    h1 {
        font-size: 14px;
    }

    .styled-select select {
        width: 100%;
        font-size: 14px;
        position: relative;
        z-index: 1000; /* Ensure dropdown is above other elements */
    }

    #search-input {
        width: 100%;
        padding: 5px;
        font-size: 12px;
    }

    .search-container {
        left: 50%;
    }

      /* Add styles to make divs scrollable */
      .scrollable-div {
        max-height: 1000px; /* Set a max-height for scrollable area */
        overflow-y: auto; /* Enable vertical scrolling */
        overflow-x: auto;
    }

    table, th, td {
        font-size: 9px;
        padding: 3px;
    }

    table {
        width: 95%;
    }

    button {
        width: 110px;
        font-size: 9px;
    }
}
